.app.dark {
    --bg-color: #040461;
    --inverted-bg-color: #bfbfc6;

    --primary-color: #039603;
    --secondary-color: #0bff0b;
    --inverted-primary-color: #021396;
    --inverted-secondary-color: #052ae3;

}