.app_dark_theme {
    --bg-color: #040461;
    --inverted-bg-color: #bfbfc6;
    --primary-color: #02f602;
    --secondary-color: #037d03;
    --inverted-primary-color: #021396;
    --inverted-secondary-color: #052ae3;
}
