:root {
    --bg-color: #bfbfc6;
    --inverted-bg-color: #040461;
    --primary-color: #021396;
    --secondary-color: #052ae3;
    --inverted-primary-color: #0bff0b;
    --inverted-secondary-color: #006c00;
}
